<div class="typer">
  <%= form_for :post, url: author_posts_path, html: { id: 'new_post' } do |f| %>
    <%#= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :body, placeholder: "Текст сообщения..." %>
    <%= f.submit "Отправить", class: 'submit' %>
  <% end %>
  <div class="info">
    <p class="author">
      <%= link_to @current_author.name, author_posts_path(@current_author.id) %>
    </p>
    <span class="count"><span>Author of <%= pluralize(@current_author.posts.count, "post") %></span></span>
  </div>
  <%= image_tag(@current_author.image, class: 'profile-img') %>
  <%= link_to "Sign out", sign_out_path, method: :delete, class: 'sign-out' %>
</div>
