<li id="post-<%= post.id %>">
  <%= image_tag(post.user.image, class: 'post-img') %>
  <span class="user"><%= link_to post.user.name, stack_path(post.user) %></span>
  <span class="post-body"><%= post.body %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    From <%= post.user.provider %>.
  </span>
</li>
