<li id="post-<%= post.id %>">
  <%= image_tag(post.author.image, class: 'post-img') %>
  <span class="author"><%= link_to post.author.name, author_posts_path(post.author) %> </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    From <%= post.author.provider %>.
  </span>
  <% if @current_author%>
    <a href="javascript:;" onclick="comments.toggleForm(this)" class="post-reply">Reply</a>
  <% end %>
    <span class="post-body"><%= post.body %></span>
  <% if @current_author%>
    <%= render partial: '/comments/comment_form', locals: { post: post } %>
  <% end %>
  <% if post.comments.any? %>
    <% post.comments.each do |comment| %>
      <%= render partial: '/comments/comment', locals: { comment: comment } %>
    <% end %>
  <% end %>
</li>
