<div class="omniauth">
  <div class="social">
    <li><%= link_to "/auth/facebook" do %><%= image_tag('fb.svg', class: 'facebook') %><% end %></li>
    <li><%= link_to "/auth/google_oauth2" do %><%= image_tag('google.svg', class: 'google') %><% end %></li>
    <li><%= link_to "/auth/vkontakte" do %><%= image_tag('vk.svg', class: 'vk') %><% end %></li>
  </div>
</div>
