<!DOCTYPE html>
<html>
  <head>
    <title>Stackwrite</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
